.col-sm-12 {
  height: 590px;
  background-color: #ffff00;

}
header .col-sm-12{
  height: 125px;
  background-color: #000099;
  margin-top: 25px;
  border: 1px;
}
nav .col-sm-12{
  height: 40px;
  background-color: #006600;
}
content .col-sm-9{
  height:225px;
  background-color: #ff0000;

}
content .col-sm-3{
  height: 225px;
  background-color: #00ffff;
}
promo .col-sm-3{
  height: 125px;
  background-color: #ff6600;
}
footer .col-sm-12{
  height: 35px;
  background-color: #000;
}
.query-test{
  width: 50%;
  background-color: purple;
  height: 400px;
  clear: both;
}

@media screen and (max-width: 800px){
  .query-test {
    width: 80%;
    background-color: blue;
  }
}
.query-practice {
  color: green;
  background-color: blue;
}
@media screen and (min-width: 800px) {
  .query-practice{
    font-size: 75px;
    color: white;
    background-color: red;
  }
}
@media screen and (min-width: 500px) {
  .query-practice{
    font-size: 55px;
    color: yellow;
    background-color: black;
  }
}
